@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Sigmar&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background);
  font-family: var(--delaGothicOne);
  font-size: var(--default-font);
}

:root {
  --sigmar: 'Sigmar', cursive;
  --delaGothicOne: 'Dela Gothic One', cursive;
  --small-font: 14px;
  --medium-font: 18px;
  --default-font: 24px;
  --large-font: 28px;
  --background: #e8e8e8;
  --white: #ffffff;
  --dark-blue: #0C4875;
  --blue: #1D6799;
  --ligth-gray: #ddd;
  --gray: rgba(105, 105, 105, 0.397);
  --dark-gray: rgba(88, 87, 87, 0.822);
  --overline: rgba(0, 0, 0, .3);
  --red: #f54d3e;
  --light-red: #e74133;
}